$font-size: 1rem;
$font-family: 'Inter', sans-serif;
$background-color: #ffffff;
$font-color: #000000;
$page-width: 1200px;
$info-color-none: #626262;
$info-color-win: #1bd76c;
$info-color-lose: #c33535;


